# Export all names
exportPattern("[^(C|R)]$")
import(zoo)
importFrom("raster", "pointDistance")
importFrom("stats", "median", "dist","coefficients", "lm", "quantile", "residuals", "runif", "complete.cases")
importFrom("graphics", "legend", "plot", "lines")
importFrom("utils", "head", "tail")
useDynLib(sisireg, .registration = TRUE)
