# Export all names
exportPattern("[^(C|R)]$")
import(zoo)
import(reticulate)
importFrom("stats", "median", "dist","coefficients", "lm", "quantile")
importFrom("stats", "residuals", "runif", "complete.cases", "na.omit")
importFrom("graphics", "legend", "plot", "lines")
importFrom("utils", "head", "tail")
useDynLib(sisireg, .registration = TRUE)
